<footer>
    <div class="foodcart1">
       <div class="row list1">
           <div class="col">
                <img src="../../assets/img/icon_1.png" alt="">
                <a href="#"><h5>Quality Food</h5></a>
           </div>
           <div class="col">
                <img src="../../assets/img/icon_2.png" alt="">
                <a href="#"><h5>Original Recipes</h5></a>
           </div>
           <div class="col">
                <img src="../../assets/img/icon_3.png" alt="">
                <a href="#"><h5>Fastest Delivery</h5></a>
           </div>
       </div>
    </div>
    <div class="foodcart2">
        <div class="row list2">
            <div class="col contact-details">
                <div class="row location">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"> </i> 
                    <address>
                        Lorem ipsum dolor sit<br>
                        consectetur adipiscing<br>
                    </address>    
                </div>
                <div class="row mobile">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <a href="#">+91 9999-999-999<br>
                    <small>8:00 am to 11:30 pm</small> </a>
                    
                </div>
                <div class="row email">
                   <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                   <a href="#"> support@foodcart.com </a>
                </div>
            </div>
            <div class="col media-details">
                <div class="row description">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row media-icons">
                    <div class="col">
                        <a href="https://www.facebook.com/" alt="Facebook Login"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col">
                        <a href="https://twitter.com/login?lang=en" alt="Twitter Login"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col">
                        <a href="https://www.instagram.com/accounts/login/?hl=en" alt="Instagram Login"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col">
                        <a href="https://github.com/" alt="Github Login"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foodcart3 text-muted">
        Copyright © 2020 Food Cart. All Rights Reserved.
    </div>
</footer>






