footer{
    background-image: url(../../assets/img/back_1.png);
    color: black;
    padding: 20px 80px;
}
.list1 .col{
    align-items: center;
    text-align: center;
}
.list1 a{
    text-decoration: none;
    color: black;
}
.list1 h5{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}
.list2 .col{
    text-align: center;
    align-items: center;
    margin: 30px 10px 15px 10px;
    padding: 0 20px;
}
.description{
    text-align: justify;
}
.contact-details a{
    text-decoration: none;
    color: black; 
}
.location a{
    text-align: left;
}
.media-details a{
    text-decoration: none;
    color: black;
}
.media-icons{
    padding: 0 20px;
}
.location, .mobile, .email{
    padding: 15px 5px 15px 100px;
    font-weight: 500;
    letter-spacing: 1px;
} 
.mobile a, .location address, .email a{
    padding-left: 5px;
}
.foodcart3{
    text-align: center;
    font-weight: 480;
}
