<div class="card text-white">
  <img
    src="../../assets/img/bg-photo.jpg"
    class="card-img"
    alt=""
    style="height: 500px"
  />
  <div class="card-img-overlay">
    <h4 class="card-title">CONTACT US</h4>
    <p class="card-text">GOT A MINUTE? TALK TO US</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4 class="mb-3" style="text-decoration: underline">Feedback</h4>
      <form class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="name">Name <span>*</span></label>
          <input type="text" class="form-control bg-light" id="name" />
        </div>

        <div class="mb-3">
          <label for="email">Email <span>*</span></label>
          <input type="email" class="form-control bg-light" id="email" />
        </div>

        <div class="mb-3">
          <label for="subject">Subject </label>
          <input type="text" class="form-control bg-light" id="subject" />
        </div>

        <div class="mb-3">
          <label for="comment">Message <span>*</span></label>
          <textarea
            class="form-control bg-light"
            id="comment"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="col-md-4 mb-3">
      <h4 style="text-decoration: underline">Contact Us</h4>
      <div class="contact-details mt-4">
        <p class="location">
          <span class="address"
            ><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;140,
            2a, Netaji Subhash Chandra Bose Rd, <br />Kolkata: 700040, West
            Bengal</span
          >
        </p>

        <p class="mobile">
          <span class="phoneno"
            ><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp;+91
            9999-999-999</span
          >
        </p>

        <p class="email">
          <span class="mail-id"
            ><i class="fa fa-envelope fa-lg" aria-hidden="true"></i
            >&nbsp;support@foodcart.com</span
          >
        </p>
      </div>
      <br /><br />
      <h4 style="text-decoration: underline">We are social</h4>
      <div class="social-media mt-4">
        <a href="https://www.facebook.com/" alt="Facebook Login"
          ><i class="fa fa-facebook fa-2x text-dark mr-4" aria-hidden="true"></i
        ></a>
        <a href="https://twitter.com/login?lang=en" alt="Twitter Login"
          ><i class="fa fa-twitter fa-2x text-dark mr-4" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com/accounts/login/?hl=en"
          alt="Instagram Login"
          ><i
            class="fa fa-instagram fa-2x text-dark mr-4"
            aria-hidden="true"
          ></i
        ></a>
        <a href="https://github.com/" alt="Github Login"
          ><i class="fa fa-github fa-2x text-dark" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="map" style="width: 100%">
  <iframe
    width="100%"
    height="400"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?width=100%25&amp;height=450&amp;hl=en&amp;q=140,%202a,%20Netaji%20Subhash%20Chandra%20Bose%20Rd,%20Kolkata:%20700040,%20West%20Bengal+(Food%20Cart%20Restaurant)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
  ></iframe
  >
</div>
