.container{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}
.checkout{
    text-align: center;
    margin: 0px auto;
    padding: 0 10px;
}

.btn{
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.btn::after{
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover{
    padding: 15px;
}
.btn:hover ::after{
    opacity: 1.2;
    right: 0;
}
